<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content?</a>

    <!-- Desktop Navbar -->
    <nav class="nav">
      <a class="logo" href="">Restaurant Apps</a>
      <ul class="navlist">
        <li class="navitems"><a href="">Home</a></li>
        <li class="navitems"><a href="#">Favorite</a></li>
        <li class="navitems">
          <a target="_blank" href="https://github.com/mridwanq/">About Us</a>
        </li>
      </ul>
    </nav>

    <!-- Mobile Navbar -->
    <div class="menumob">
      <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
      <div class="logomob">Restaurant Apps</div>
      <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
      <ul class="navlistmob">
        <li class="navitemsmob"><a href="">Home</a></li>
        <li class="navitemsmob"><a href="#">Favorite</a></li>
        <li class="navitemsmob">
          <a target="_blank" href="https://github.com/mridwanq">About Us</a>
        </li>
      </ul>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron" style="background-image: url('images/hero-image_4.jpg')">
      <div class="jumbotron-inner">
        <h1 class="jumbotron-title">Restaurant Apps</h1>
      </div>
    </div>

    <!-- Content -->
    <main id="content">
      <section class="content">
        <div class="latest">
          <h1>Explore Restaurant</h1>
          <div class="list" id="item"></div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <p>Copyright © 2020 - Restaurant Apps</p>
    </footer>
  </body>
</html>
